
name: Deploy to staging
on:
  push:
    branches:
      - main

jobs:
  redeploy_everything:
    name: Deploying everything to the staging cluster
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup SSH key
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ssh_key
          chmod 600 ssh_key

      - name: Deploy to staging server
        run: |
          ssh -o StrictHostKeyChecking=no -i ssh_key root@54.221.36.146 << 'EOF'
            cd /root/CICD-1/
            git pull
            pnpm install
            pnpm run build
            pm2 restart fe-server
            pm2 restart http-server
            pm2 restart ws-server
          EOF
